.wrapper.double-col {
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .wrapper-left {
        width: 70%;
        padding: 0 30px;
    }

    .wrapper-right {
    	width: 30%;
        padding: 0 30px;
    }
}
