.logo-image {
  width: 35px;
  height: 35px;
}
.nav-item.nav-link {
  font-weight: 700;
}

$blue: blue;

header {
	width: 25%;
	height: 100vh;
	background-color: $blue;
	color: white;
    position: fixed;

	.wrap {
		width: 90%;
		margin: 0 auto;
	}
}